p, td, th {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.table {
    
    width: 100%;
    background-color: rgb(53, 126, 126);
    color: black;
    padding-top: 3px;
    padding-bottom: 1px;
    padding-left: 2px;
    padding-right: 4px;
    border: 1px solid rgb(53, 9, 9);
    border-collapse: collapse;
    margin: 0;
    padding: 0;
}

td{
    font-weight: normal;
    border: 1px solid black;
    font-size: medium;
}
th {
    background-color: #ffe600;
    color: white;
    width: 33%;
    font-weight: bold;
    border: 2px double rebeccapurple;
    font-size: x-large;
    text-align: center;
    padding: 5px;

}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: darkgreen;
}

tr:nth-child(odd) {
    background-color: #bd9090;
    color: darkslateblue
}

div {
    margin: 2;
    padding: 1;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: normal;
}

#breed {
    width: 40%;
    background-color: #782741;
    color: rgb(184, 168, 168);
    padding-top: 5px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 10px;
    border: 2px solid rgb(83, 11, 77);
    border-collapse: collapse;
    margin: 2;
    padding: 2;
}

#breed td {
    font-weight: lighter;
    border: 1px dotted black;
    font-size: xx-small;
    background-color: beige;
    width: auto;
    text-align: left;
}

#breed th {
    background-color: #3c6a3d;
    color: rgb(48, 17, 17);
    width: 33%;
    font-weight: bold;
    border: 2px double rgba(102, 51, 153, 0.244);
    font-size: x-large;
    text-align: center;
    padding: 5px;
}

#size {
    width: 10%;
    background-color: #a86f6f;
    color: rgb(2, 24, 11);
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 9px;
    padding-right: 12px;
    border: 2px thick rgb(83, 11, 77);
    border-collapse: collapse;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: #381717;
    color: rgb(165, 152, 152);
    border: 10px solid rgb(87, 34, 34);
    margin: 5px;
    padding: 5px;
}

.row {
    background-color: #1b563583;
    color: rgb(196, 204, 212);
    vertical-align: middle;
    padding-top: 20px;

}

h1 {
    background-color: #133d265d;
    color: rgb(116, 126, 158);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 8px;
    padding-right: 8px;
    border: 1px solid rgb(53, 9, 9);
    border-collapse: collapse;
    margin: 20px;
    padding: 20px;
}

.table>:not(caption)>*>* {
    background-color: #abcbb9a4;
    color: rgb(3, 17, 32);
}

.alert {
    background-color: #ffffff;
    color: rgb(49, 40, 40);
    padding: 14px;
    margin-bottom: 15px;
}

.alert-success {
    background-color: #4CAF50;
    color: rgb(144, 130, 130);
}

.alert-danger {
    background-color: #f44336;
    color: rgb(144, 130, 130);
    margin-top: auto;
    margin-bottom: 10px;
    margin-left: 3px;
    margin-right: 3px;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.text-danger {
    color: #f44336;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 1px;
    padding-right: 1px;
    font: optional;
    font-size: smaller;
    font-family: 'Courier New', Courier, monospace;
    width: auto;
    text-align: center;
    height: auto;
}

#confirmText {
    color: #a54944;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 6px;
    padding-right: 7px;
    font-size: 36pt;
    font-family: 'imopact', 'Arial Black', sans-serif;
    font-weight: bolder;
    font-style: inherit;
}
input {
    background-color: rgb(62, 21, 7);
    color: rgb(177, 141, 175);
    font-style: italic;
}

select {
    background-color: rgb(111, 56, 38);
    color: rgb(254, 218, 253);
    font-style: italic;
}
img {
    width: 60%;
    height: 60%;
}

img:hover {
    animation: rotate 2s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(36deg);
    }
    25% {
        transform: rotate(90deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(270deg);
    }
    80% {
        transform: rotate(280deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
